﻿@model TouristPlaceFluentApi.Models.TouristPlace
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Create";

}


<h1>Create</h1>

<h4>TouristPlace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Image">Image</label>
                <input id="Image" name="Image" type="file" class="form-control align-middle" />
                <span><img id="imagePreview" src="" style="" /></span>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" type="number" max="5" min="1" value="1" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class="form-control">
                    @foreach (PlaceType item in ViewBag.Types)
                    {
                        <option value=@item.Id>@item.Name</option>
                    }

                </select>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-searchValue="@httpContextAccessor.HttpContext.Session.GetString("searchValue")">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#Image').change(function () {
                $('#imagePreview').css("display", "block");
                const file = $('#Image')[0].files[0];
                const reader = new FileReader();
                var previewImg = $('#imagePreview');
                reader.addEventListener("load", function () {
                    previewImg.attr("src", reader.result);
                    imgC = reader.result;
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>
}
