﻿@model TouristPlaceFluentApi.Models.TouristPlace
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Edit";

}

<h1>Edit</h1>

<h4>TouristPlace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Image">Image</label>
                <input id="Image" name="Image" type="file" class="form-control" />
                <span><img id="imagePreview" src="~/images/@Model.ImageUrl" style="height:100px;width:100px;" /></span>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class="form-control">
                    <option value=@Model.Type.Id>@Model.Type.Name</option>
                    @foreach (PlaceType Item in ViewBag.Types)
                    {
                        <option value=@Item.Id>@Item.Name</option>
                    }

                </select>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-searchValue="@httpContextAccessor.HttpContext.Session.GetString("searchValue")">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var imagePreveiw = $('#imagePreview');
            if (imagePreveiw.css("display") == "none")
                imagePreveiw.css("display", "block");
            $('#Image').change(function () {
                const file = $('#Image')[0].files[0];
                const reader = new FileReader();
                var previewImg = $('#imagePreview');
                reader.addEventListener("load", function () {
                    // convert image file to base64 string
                    previewImg.attr("src", reader.result);
                    imgC = reader.result;
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            });
        });
    </script>
}
