﻿@model IEnumerable<TouristPlaceFluentApi.Models.TouristPlace>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="post" asp-action="Index">

    <div class="input-group">
        <input type="text" id="SearchValue" name="SearchValue" placeholder="Search term..." class="form-control" value="@ViewData["searchValue"]" />
        <input type="hidden" id="Search" name="Search" placeholder="Search term..." class="form-control" value="Search" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Image
            </th>
            <th>
                Type
            </th>
            <th>
                <a asp-controller="TouristPlaces" asp-action="Index" asp-route-searchValue="@httpContextAccessor.HttpContext.Session.GetString("searchValue")"
                   asp-route-IsAscending="@ViewData["sortValue"]">@Html.DisplayNameFor(model => model.Rating)</a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="~/images/@Html.DisplayFor(modelItem => item.ImageUrl)" style="height:100px;width:100px;" />
                </td>
                <td>
                    @item.Type.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
